.about-heading{
    align-items: center;
    margin: 20px;
    color: #5A3E36;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.about-section {
    padding: 40px 20px;
}

.about-body {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    text-align: center;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    color: #5A3E36;
}
.tech-icons-text {
    font-size: 0.75rem;
    font-weight: 500;
    color: #444;
}

.tech-icons {
    background: #ECDED0;
    border-color: #5A3E36;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px; 
}


.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
}
.tech-icons:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2);
}

.tech-icons:hover::after {
    content: attr(data-label);
    position: absolute;
    bottom: -25px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s;
}
.tech-icons svg {
    font-size: 3rem;
    color: #5A3E36;
}

@media (max-width: 768px) {
    .tech-icons {
        width: 80px;
        height: 80px;
        margin: 10px;
    }

    .tech-icons svg {
        font-size: 2.5rem;
    }
}
