
.experience-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px; 
  }

  .experience-heading{
    text-align: center;
    color: #5A3E36;
  }

  .experience-card {
    background: #f9eddd;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: #777;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.15);
  }
  
  .company-logo {
    max-width: 100%;
    height: 180px;
    object-fit:fill;
    margin-bottom: 10px;
    transition: all 1s ease-in-out;
  }

  .company-logo:hover {
    transform: scale(1.1); 
}

  .company-logo img {
   transition: all 1s;
    }
  

  .job-title {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
  }
  
  .job-duration {
    font-size: 0.85rem;
    color: #777;
  }

  .project{
    color:#5A3E36

  }
  