* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; 
  overflow-x: scroll; 
}

.App {
  min-height: 100vh;
  background: url(./assets/background.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
