* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Ensure full height for the fixed background */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.App {
  background: url(./assets/background.jpg);
  background-size: cover; 
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
