* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; 
  overflow-x: scroll; 
}

.App {
  min-height: 100vh;
  width: 100%;
  background: url("./assets/background.jpg") no-repeat center center fixed; 
  background-size: cover;
  display: flex;
  flex-direction: column;
}

section {
  padding-top: 80px;
  min-height: 100vh;
  width: 100%;
  background: transparent !important;
  position: relative;
}